.tela-13,
.tela-13 * {
  box-sizing: border-box;
}
.tela-13 {
height: 100vh;
position: relative;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%; 
  width: 100%;
}
.rectangle-6 {
  background: #000000;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-7 {
  background: #8ccfff;
  border-radius: 25px;
  width: 50%;
  max-width: 434px;
  height: 90%;
  max-height: 700px;
  position: relative;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
}
.voltar {
    color: #001580; 
    text-align: center;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    left: 47.5%; 
    bottom: 25%; 
    width: 100px; 
    height: 40px; 
    border: none; 
    border-radius: 10px; 
    text-decoration: none; 
    line-height: 40px; 
    cursor: pointer;  
}

.logo {
  position: absolute;
  inset: 0;
}
.v-de-bicicleta {
    color: #001580;
    text-align: center;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
}

.bicicletadevolvida {
  color: #001580;
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  top: 42%;
  transform: translateX(-50%);
  width: auto;

}
.temporizador {
  color: #001580;
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 18px;
  font-weight: 100;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%);
  width: auto;
}
.tempo {
  color: #001580;
  text-align: center;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 30px;
  font-weight: 100;
  position: absolute;
  left: 50%;
  top: 53%;
  transform: translateX(-50%);
  width: auto;
}

@media (max-width: 768px) {

.rectangle-6 {
width: 80%;
height: auto;
}
.rectangle-7 {
width: 80%;
height: auto;
}
.bicicleta-liberada-aproveite-seu-dia {
font-size: 18px;
}
}

