* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.messages {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f2f3fa;
  min-height: 100vh;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.fundo {
  background-color: #000000; 
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}


.tela-azul {
  background-color: #8ccfff; /* Tela azul */
  width: 80%;
  max-width: 400px;
  padding: 20px;
  border-radius: 25px;
  z-index: 2; /* Tela azul acima do fundo preto */
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
.message.error {
  color: #ff0000;
  background-color: #ffe6e6;
  padding: 10px;
  border: 1px solid #ff0000;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
}
.titulo {
  font-size: 24px;
  font-weight: 700;
  color: #001580;
  margin-bottom: 20px;
  text-align: center;
}

.seta {
  margin-top: 0px; 
  width: 30px; 
  height: auto;
  cursor: pointer;  
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:5px
}

.campo {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  color: #001580;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #3e4a6d;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 500px;
}

.botao {
  display: block;
  width: 100%;
  max-width: 140px;
  padding: 12px;
  background-color: #001580;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: medium bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 auto;
}

.bot-es-prim-rios2 a {
  display: block;
  width: 100%;
  max-width: 500px;
  padding: 12px;
  background-color: black;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: medium bold;
  text-align: center;
  margin-top: 15px;
  margin: 0 auto;
}
.linha-campos {
  display: flex;
  gap: 15px;
  width: 100%;
  max-width: 800px;
}

.linha-campos .campo {
  width: 48%; 
}

/* Responsividade */
@media (max-width: 768px) {
  .titulo {
      font-size: 20px;
  }

  .input, .botao, .bot-es-prim-rios2 a {
      font-size: 12px;
  }
}

@media (max-width: 480px) {
  .input, .botao, .bot-es-prim-rios2 a {
      font-size: 12px;
  }
}
