{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>VáDeBicicleta</title>
      <link rel="stylesheet" href="{% static 'app_cad_usuarios/bicicletaLiberada.css' %}">
    </head>
     <body>
<div class="tela-3">
  <div class="rectangle-6"></div>
  <div class="rectangle-7"></div>
  <div class="v-de-bicicleta">VáDeBicicleta</div>
  <div class="bicicleta-liberada-aproveite-seu-dia">
    BICICLETA LIBERADA!
    <br />
    APROVEITE SEU DIA !
  </div>
  
  <a href="{% url 'alugarOuDevolver' %}" class="voltar">VOLTAR</a>
  
</div>
<body>
</html>


